.urlArea{
  vertical-align: bottom;
  margin: 10px;
}

#urlInput>label{ /* .urlArea内のラベル */
  margin: 10px;
}

#urlInput>input{
  display: inline-block;
  margin: 10px;
  width: 80%;
}

.urlArea>button{
  display: inline-block;
  margin: 10px;
}