
#root{
  text-align:center;
}

.subTitle{
  font-size: 24px;
  font-weight: bold;
}

.mainTitle{
  font-size: 36px;
  font-weight: bold;
}

section{
  width: 100%;
}

.print-table{
  margin: 3px auto;    /* 上下3px 左右auto */
}

.print-table tr th {
  border: 1px solid #000000;
  width: 150px;
}

.print-table tr td {
  border:1px solid #000000;
}

@media print{
  @page {
    margin: 10%; /* 仮に設定ｗ */
    /* size:portrait; *//* 縦向き印刷 */
    /* size:landscape; *//* 横向き印刷 */
  }

  .print-area{ 
    text-align:center;
  }

  .print-table tr th, .print-table tr td{
    text-align: center;
    vertical-align: middle;
  }

  .print_pages{
    page-break-after: always;
  }

}
