.day-cell {
  cursor: pointer;
 
}

.day-bg--yasumi {
  background: url("../assets/yasumi.png") no-repeat center center; 
  background-size: 60%;
}

.day-bg--yasumi-am {
  background: url("../assets/yasumi-am.png") no-repeat center center; 
  background-size: 60%;
}

.day-bg--yasumi-pm {
  background: url("../assets/yasumi-pm.png") no-repeat center center;
  background-size: 60%; 
}

.day-bg--yukyuu {
  background: url("../assets/yukyuu.png") no-repeat center center; 
  background-size: 60%;
}

.day-bg--tokubetsu-yukyuu {
  background: url("../assets/tokubetsu-yukyuu.png") no-repeat center center; 
  background-size: 60%;
}