.day-cell {
  cursor: pointer;

}

.fc-daygrid-day{

  background-color: white;
}
/*
.fc-daygrid-day-frame{

}

.fc-daygrid-day-top{

} */

.fc-daygrid-day-number {
  width: 100%;
  height: 100%;
}


.fc-daygrid-day-events {
  display: none;
}
