 .react-transform-wrapper{

  height: 100% !important;
  width: 100% !important;
  justify-content: center;
}

.react-transform-component {
  width: 100% !important;
  justify-content: center;
}



/*
.react-transform-element {
  width: 100% !important;
  height: 100% !important;
} */