
#root{
  text-align:center;
}

section{
  width: 100%;
}
/* .kakin_list */
table{
  margin: 3px auto;    /* 上下3px 左右auto */
}

Table tr th {
  border:1px solid #000000;
  width: 150px;
}

Table tr td {
  border:1px solid #000000;
}

@media print{
  /* 印刷用CSSの定義を指定する */
  /* .contents-actionmenu-gaia{display:none;}
  .gaia-header.gaia-header-fixed{display:none;}
  button{display:none;} */

  .print_pages{page-break-after: always;}

}
