.custom-title {
  width: 100%;
  text-align: center;
  font-size: 2rem;
}

/* 改行なし、セル幅指定
.gaia-report-crosstable-groupname, .gaia-report-crosstable-groupvalue {
  white-space: normal;
  width: 150px;
  padding: 5px;
}
*/

.gaia-report-crosstable-row-total {
  display:none;
}

.gaia-report-crosstable-groupnamesum, .gaia-report-crosstable-total {
  /* 合計列の非表示設定 */
  display: none;
}

@media print {
  #report-view-gaia {
    page-break-after: avoid;
  }

  #crosstable-gaia {
    border: unset
  }
}