.table {
    min-width: 163px;
    height: 48px;
    text-align: center;
    color : #3498db;
    margin : 0 8px 0 8px;
    border: 1px solid #e3e7e8;
    background-color: #f7f9fa;
    box-shadow: 1px 1px 1px #fff inset;
}