.table {
    align-self: center;
    padding: 4px 8px;
    text-indent: initial;
}

.table_header {
    background-color: #3498db;
    border-color: #3498db;
    height: 40px;
    color: #fff;
    box-sizing: border-box;
    text-align: left;
    font-weight: 400;
    font-size: 12px;
    white-space: nowrap;
    border-width: 2px 2px 2px 0 !important;
}

.table_tr {
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
}