html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  background: linear-gradient(rgb(255, 255, 255) 0%, rgb(161, 161, 161) 100%);
  ;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

div.gaia-header-header-logo {
  display: none;
}

div.gaia-header-header {
  height: 8px;
  background-color: #4b4b4b !important;
}

.gaia-mobile-v2-viewpanel-globalnavigationbar {
  background-color: black;
}