html {
  height: 100%;
}

body {
  background-color: #fffbfb;
}

.app-index-container-gaia {
  background-color: rgba(255, 255, 255, 0.3);
}

div.gaia-header-header-logo {
  display: none;
}

div.gaia-header-header {
  height: 8px;
  background-color: #4b4b4b !important;
}

.gaia-mobile-v2-viewpanel-globalnavigationbar {
  background-color: black;
}

.ocean-portal-body-right {
  position: absolute;
  top: 145px;
  left: 60%;
}