/* .preview{
  vertical-align: bottom;
  margin: 10px;
}

#urlInput>label{
  margin: 10px;
}

#urlInput>input{
  display: inline-block;
  margin: 10px;
  width: 80%;
}

.preview>button{
  display: inline-block;
  margin: 10px;
}

.showPreview{
  text-align: right;
} */